<!-- Start Intro -->
<div id="fh5co-intro">
  <div class="container">
    <h1>JÉRÉMIE POISSON</h1>
    <div class="row">
      <div class="col-md-6 col-md-push-6 fh5co-intro-sub">
        <p>I am above all an ambitious and hardworking person who loves challenges.
          I constantly seek to deepen my knowledge in the foundations of computer sciences
          and its theorical aspects. I want to contribute to the field of computer science and work on large-scale
          projects that have a measurable social and technological impact on the international scene.</p>
        <p>My research interests lie in cyber security, mobile technologies and artificial intelligence.</p>
        <p>I am an undergraduate at McGill University majoring in Computer Science in Montréal, Canada.</p>
      </div>
    </div>
  </div>
</div>
<!-- End Intro -->