<div id="fh5co-work">
	<div class="container">
		<div class="poisson-intro col-md-10 col-md-offset-1">
			<h1>{{projectDetails.name}}</h1>
			<p>{{projectDetails.intro_text}}</p>
			<div class="text-right">
				<i class='ti-calendar'></i> 
				May 2010 - May 2017

				<i class='ti-stack-overflow'></i>
				<a href="">AngularJS</a>, <a href="">Python</a>, <a href="">Amazon AWS</a>
			</div>
			<div style="clear:both"></div>
		</div>

		<div id="js-fh5co-slider">
			<div class="container">
				<div class="fh5co-spacer fh5co-spacer-xs"></div>
				<h2 class="fh5co-uppercase-heading-sm text-center">Work Preview</h2>
				<div class="fh5co-spacer fh5co-spacer-xs"></div>

				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-fullwidth">
						    <div class="item"><img src="images/img_large_1.jpg" alt="image"></div>
						    <div class="item"><img src="images/img_large_2.jpg" alt="image"></div>
						    <div class="item"><img src="images/img_large_3.jpg" alt="image"></div>
						    <div class="item"><img src="images/img_large_4.jpg" alt="image"></div>
						    <div class="item"><img src="images/img_large_5.jpg" alt="image"></div>
						    <div class="item"><img src="images/img_large_6.jpg" alt="image"></div>
						</div>
					</div>
				</div>

				<div class="fh5co-spacer fh5co-spacer-xs"></div>
			</div>
		</div>
		<!-- End SLIDER -->

		<div class="container">
			<div class="col-md-4 col-sm-6">
				<h2 class="h4">Tech stack</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt hic, placeat aliquam odio eius. Veniam ad quas non minima velit ullam ab aliquid animi deserunt, dolor facere neque vel mollitia.</p>
			</div>

			<div class="col-md-4 col-sm-6">
				<h2 class="h4">Budget</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt hic, placeat aliquam odio eius. Veniam ad quas non minima velit ullam ab aliquid animi deserunt, dolor facere neque vel mollitia.</p>
			</div>
			
			<div class="col-md-4 col-sm-6">
				<h2 class="h4">Facts</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt hic, placeat aliquam odio eius. Veniam ad quas non minima velit ullam ab aliquid animi deserunt, dolor facere neque vel mollitia.</p>
			</div>
		</div>
		<div class="fh5co-spacer fh5co-spacer-xs"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Motivation</h3>
					<p>
						sds
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Responsabilities</h3>
					<p>
						sds
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Learning outcomes</h3>
					<p>
						sds
					</p>
				</div>
			</div>
		</div>
		<div class="fh5co-spacer fh5co-spacer-xs"></div>
		
		<div class="fh5co-spacer fh5co-spacer-md"></div>
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<p>
						<a href="#" class="btn btn-outline btn-md btn-block">Official Website</a><br />
						<a href="#" class="btn btn-outline btn-md btn-block">Github Repository</a><br />
						<a href="#" class="btn btn-outline btn-md btn-block">Presentation materials</a>
					</p>
				</div>
			</div>
		</div>
		

	</div>
</div>