<div id="fh5co-work" ng-init="console.log('TEST')">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
				<project-placeholder placement="placement" row="0" col="0"></project-placeholder>
				
			</div>

			<div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
				<project-placeholder placement="placement" row="0" col="1"></project-placeholder>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
				<project-placeholder placement="placement" row="1" col="0"></project-placeholder>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
				<project-placeholder placement="placement" row="1" col="1"></project-placeholder>
			</div>
		</div>
	</div>
</div>