<div class="fh5co-work-wrap poisson-project" ng-if="currentPlaceholder.type == 'project'">
	<a href="#" class="fh5co-work-item" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
    <img src="images/work_1.jpg" alt="Image" class="img-responsive">
    <div ng-class="{'enter': hover, 'exit': !hover}" class="fh5co-overlay-bg poisson-project-overlay"></div>
    <div ng-class="{'enter': hover, 'exit': !hover}" class="fh5co-overlay-text poisson-project-overlay">
      <h2>{{currentPlaceholder.header}}</h2>
      <ul class="fh5co-categories">
        <li ng-repeat="tech in currentPlaceholder.tech">{{tech}}</li>
      </ul>
      <p>{{currentPlaceholder.text}}</p>
    </div>
  </a>
</div>

<div class="fh5co-work-wrap poisson-motivation" ng-if="currentPlaceholder.type == 'motivation'">
  <h4 class="h4">{{currentPlaceholder.header}}</h4>
  <p>{{currentPlaceholder.text}}</p>
  
</div>
